.pagination > li{
    color: black;
    background-color: #e5ffe6;
    border: 1px solid black;
}
.pagination > li > a:hover,
.pagination > li > span:hover
{
    color: black;
    background-color: #abc0ab;
}
.page-item.active .page-link {
    z-index: 3;
    color: white;
    background-color: #3e423e;
    border-color: #1c1c1c;
}
.page-link {
    color: black;
    background-color: #e5ffe6;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #2d3b28 !important;
}
.custom-checkbox .custom-control-input:checked:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.1rem rgba(37, 37, 37, 0.25)
}
.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.1rem rgba(0, 0, 0, 0.25)
}
