:root {
    scrollbar-color: #996423 #141111;
    scrollbar-track-color: yellow;
    scrollbar-base-color: #141111;
    scrollbar-width: thin;
}
/*Scrolling for webkit-browsers GRAY*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #6F7E8E;
}
::-webkit-scrollbar-thumb {
    background-color: #6F7E8E;
    border-radius: 9em;
    box-shadow: inset 1px 1px 10px #f3faf7;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #B8BDC4;
}
